.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    & ul {
        display: flex;
        flex-direction: horizontal;
        align-items: center;
        justify-content: center;
        width: 100%;


        & li {
            list-style: none;
            padding: 20px;

            & a {
                color: white;
                text-decoration: none;
                font-size: 14px;
                font-weight: 800;
            }
        }
    }
}